<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do lists</title>
</head>
<body>
    <h1>To-Do</h1>
    <form action="" method="get">
        <input type="text" placeholder="Enter a to-do item" id="id_new_item">
        {% csrf_token %}
    </form>
    <table id="id_list_table">
        <caption>To DO List</caption>
        <th>Saved</th>
        <tr><td>{{holi}}</td></tr>
    </table>
    
</body>
</html>